h1 Welcome to Strapi digitalocean webhook script

p If you see this page, the script is running successfully.
  br
  | Be aware that this site should not be available outside your server as it is made to catch local webhook requests.
